#{{ ansible_managed }}
[DEFAULT]
http_timeout={{http_timeout}}
debug={{debug}}
log_dir={{log_dir}}
transport_url={{transport_url}}
polling_namespaces={{polling_namespaces}}
[compute]
[coordination]
backend_url={{backend_url}}
[event]
[hardware]
[ipmi]
[matchmaker_redis]
[meter]
[notification]
ack_on_event_error={{ack_on_event_error}}
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
topics=notifications
[oslo_messaging_rabbit]
ssl={{ssl}}
[oslo_messaging_zmq]
[polling]
[publisher]
telemetry_secret={{telemetry_secret}}
[publisher_notifier]
[rgw_admin_credentials]
[rgw_client]
[service_credentials]
auth_type={{auth_type}}
auth_url={{auth_url}}
project_name={{project_name}}
project_domain_name={{project_domain_name}}
username={{username}}
user_domain_name={{user_domain_name}}
password={{password}}
region_name={{region_name}}
[service_types]
[vmware]
[xenapi]
[keystone_authtoken]
www_authenticate_uri={{www_authenticate_uri}}
auth_uri={{auth_uri}}
auth_type={{auth_type}}
auth_url={{auth_url}}
username={{username}}
password={{password}}
user_domain_name={{user_domain_name}}
project_name={{project_name}}
project_domain_name={{project_domain_name}}
